/* css reset */
body{margin: 0;padding: 0;font-size: 12px;font-family: "微软雅黑"}
dl,dt,p,h1,ul,input,h2,ol,h3,dd{margin: 0;padding: 0;}
dd,li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
em,strong{font-style: normal;}
.clear{zoom: 1;}
.clear:after{content: "";display: block;clear: both;}

/* model */
.radius{border: 1px solid #e5e5e5;border-radius: 6px;padding: 0 15px;}
.gradient{
	background:-webkit-linear-gradient(#FFFFFF, #f8f8f8);
	background:-moz-linear-gradient(#FFFFFF, #f8f8f8);
	background:-o-linear-gradient(#FFFFFF, #f8f8f8);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#f8f8f8));
	background:linear-gradient(#FFFFFF, #f8f8f8);}
.dotTop,.dotBottom{position: absolute;width: 0;height: 0;border-left: 4px solid transparent;border-right: 4px solid transparent;}
.dotTop{border-bottom: 4px solid #ca0309;}
.dotBottom{border-top: 4px solid #ca0309;}
.ad{border-radius: 6px;overflow: hidden;clear: both;margin-bottom: 10px;}
.fl{float: left;}
.fr{float: right;}
.smallNav h2{font-weight: bold;font-size: 12px;font-family: arial;color: #cc0d13;float: left;line-height: 33px;padding-right: 8px;}
.smallNav span{font-size: 14px;color: #2b2d2d;line-height: 33px;font-weight: bold;display: block;float: left;padding-right: 9px;}
.section{padding: 16px 0 10px;}
.section span{float: left;color: #cc0d13;font-weight: bold;padding-right: 5px;position: relative;top: 2px;}
.section h3{float: left;color: #010000;}
.section a{float: right;width: 54px;height: 22px;background: url(../img/main/more.gif) no-repeat 40px 5px;font: 12px/22px "微软雅黑";color: #000000;}
/* jionUs */
#joinUs{width: 960px;height: 30px;border: none;margin: 0 auto;}
#joinUs dl{width: 318px;float: left;}
#joinUs dt{color: #666666;line-height: 30px;float: left;padding-right: 10px;}
#joinUs dd{width: 39px;height: 18px;border: 1px solid #e5e5e5;border-radius: 2px;box-shadow: 1px 1px #f0f0f0;float: left;margin: 4px 5px;line-height: 18px;text-align:center;}
#joinUs dl a{color: #999999;}
#joinUs dl a:hover{color: #d60d03;}
#joinUs .active{color: #d60d03;}
#joinUs p{width: 180px;float: right;margin-top: 8px;}
#joinUs p a{display: block;width: 64px;height: 14px;color: #666666;padding-left: 21px;float: left;}
#joinUs p a:nth-child(1){background: url(../img/joinUs.gif) no-repeat 2px 2px;}
#joinUs p a:nth-child(3){background: url(../img/joinUs.gif) no-repeat;background-position: 0 -12px;}
#joinUs p a:hover{text-decoration: underline;}


/* nav */
#nav{width: 930px;height: 100px;margin: 0 auto;padding: 0 15px;}
#nav ul{width: 330px;height: 100px;}
#nav ul a{color: #333333;}
#nav ul a:hover{color: #d91002;}
#nav li{background: url(../img/nav.png) no-repeat;width: 66px;height: 40px;padding-top: 60px;float: left;text-align: center;cursor: pointer;}
#nav .L{}
#nav .R{}
#nav .L li:nth-child(1){background-position: 0 0;}
#nav .L li:nth-child(2){background-position: -66px 0;}
#nav .L li:nth-child(3){background-position: -132px 0;}
#nav .L li:nth-child(4){background-position: -198px 0;}
#nav .L li:nth-child(5){background-position: -264px 0;}
#nav .R li:nth-child(1){background-position: -330px 0px;}
#nav .R li:nth-child(2){background-position: -396px 0px;}
#nav .R li:nth-child(3){background-position: -462px 0px;}
#nav .R li:nth-child(4){background-position: -524px 0px;}
#nav .R li:nth-child(5){background-position: -590px 0px;}

#nav .L li:nth-child(1):hover{background-position: 0 -100px;}
#nav .L li:nth-child(2):hover{background-position: -66px -100px;}
#nav .L li:nth-child(3):hover{background-position: -132px -100px;}
#nav .L li:nth-child(4):hover{background-position: -198px -100px;}
#nav .L li:nth-child(5):hover{background-position: -264px -100px;}
#nav .R li:nth-child(1):hover{background-position: -330px -100px;}
#nav .R li:nth-child(2):hover{background-position: -396px -100px;}
#nav .R li:nth-child(3):hover{background-position: -462px -100px;}
#nav .R li:nth-child(4):hover{background-position: -524px -100px;}
#nav .R li:nth-child(5):hover{background-position: -590px -100px;}

#nav h1{width: 270px;height: 100px;background: url(../img/logo.png) no-repeat 28px 10px;}


/* banner */

#banner{width: 930px;height: 114px;margin: 0 auto;position: relative;}
#banner ul{width: 406px;height: 28px;position: absolute;top: -10px;left: 227px;}
#banner ul li{width: 78px;height: 25px;border: 1px solid #f8d0bf;border-radius: 5px;margin-left: 1px;float: left;line-height: 25px;cursor: pointer;text-align: center;background: #f9f9f9;}
#banner .active{width: 78px;height: 26px;border: 1px solid #c40d0e;background: #e21c01;color: #fbfbfb;font-weight: bold;position: relative;top: -1px;border-bottom: none;border-radius:5px 5px 0 0;z-index: 2;}
#banner .center{width: 960px;height: 64px;background: #e21c01;border: 1px solid #c40d0e;position: absolute;top: 15px;left: -1px;border-radius: 5px;box-shadow: 2px 2px #dcdcdc;}
#banner .center img{position:absolute;left: 31px;top: -21px;}
#banner .txt{border: none;outline: none;width: 405px;height: 22px;box-shadow: inset 2px 3px #d8a59e;background: #fff1ef;text-indent: 12px;position: relative;left: 226px;top: 19px;color: #ea7a7a;line-height: 22px;}
#banner .btn{position: absolute;right:257px ;top:19px;background: url(../img/bannerBtn.png) no-repeat;width: 61px;height: 23px;border: none;}
#banner .key{width: 202px;float: right;padding-right: 36px;line-height: 18px;margin-top: -10px;}
#banner .key a{color: #fbfbfb;}
#banner .key a:hover{text-decoration: underline;}
#banner .update{height: 30px;}
#banner .update strong,#banner .update em,#banner .update a{display: block;float: left;margin-left: 10px;margin-top: 8px;}
#banner .update strong{color:#d30703;}
#banner .update em{color:#999999;}
#banner .update a{color:#000000;}
#banner .update a:hover{text-decoration: underline;}
#banner .dotTop{right: 40px;top: 8px;}
#banner .dotBottom{right: 40px;bottom: 8px;}
#banner .bottom{position: absolute;left: 226px;bottom: 0;padding-left: 60px;background: url(../img/bannerUpdate.gif) no-repeat 0px 8px;width: 408px;height: 30px;overflow: hidden;}
#banner .bottom ol{position: absolute;left: 60px;top: 0;}
/* main */

#main{width: 960px;margin: 10px auto 10px;}
#mainL{width: 710px;}
#mainL .radius{width: 318px;}
#mainR .radius{width: 210px;}
/* hot */

#mainL .hot{margin-bottom: 10px;}
#mainL .hot h2{line-height: 42px;color: #d90000;width: 130px;height: 42px;background: url(../img/main/hot.jpg) no-repeat 104px 10px;font-size: 16px;font-family: Arial}
#mainL .hot ul{height: 64px;width: 233px;line-height: 20px;padding-left: 85px;background: url(../img/main/hot.jpg) no-repeat 0 -23px;margin-top: 13px;margin-bottom: 18px;}
#mainL .hot ul li{padding-left: 4px;background: url(../img/main/hot.jpg) no-repeat 0 -88px;}
#mainL .hot a{color:#4d4d4d;}
#mainL .hot a:hover{text-decoration: underline;}

/* hotShop */

#mainL .hotShop{margin-bottom: 10px;}
.hotShop .ulTop{}
.hotShop .more{display: block;width: 56px;height: 22px;background: url(../img/main/more.gif) no-repeat 40px 5px;font: 12px/22px "微软雅黑";color: #000000;}
.hotShop .more:hover{text-decoration: none;}
.hotShop .ulTop li{width: 128px;height: 34px;border-radius: 6px 6px 0 0;padding: 0 22px;float: left;margin-right: 2px;border: 1px solid #e5e5e5;position: relative;border-bottom: none;}
.hotShop .ulTop .active{top: 1px;z-index: 2;background: white;}
.ulTop .dotBottom{top: 14px;right: 12px;}
.ulBottom{width: 318px;padding: 15px 15px 5px;border:1px solid #e5e5e5;border-radius: 0 0 6px 6px;}
.ulBottom .spec{background: none;height: 22px;}
.ulBottom li{width: 318px;height: 108px;background: url(../img/main/liBg.png) no-repeat;margin-bottom: 6px;}
.ulBottom li a{color: #bb0d0d;line-height: 30px;}
.ulBottom li a:hover{text-decoration: underline;}
.ulBottom li span{line-height: 16px;color: #6e6e6e;width: 150px;}
.ulBottom img{border: 1px solid #e6e6e6;margin-right:21px ;margin-top: 10px;}

/* activity */

.activity{background: url(../img/main/activityBg.png) no-repeat 270px 0;padding-bottom: 28px;margin-bottom: 10px;}
.activity .top{height: 73px;position: relative;background: url(../img/main/activityTopBg.png) no-repeat 0 70px;}
.activity .top em{position: absolute;font-family: arial;color: #ea2b31;top: 21px;left: 8px;font-weight: bold;}
.activity .top h2{position: absolute;font-size: 20px;color: #333333;top: 36px;left: 8px;}
.activity .top span{position: absolute;font-size: 22px;color: #ec1c16;top: 26px;left: 110px;font-weight: bold;}

.activity .center{padding-bottom: 18px;}
.activity .center img{border: 2px solid #c61d00;margin-right: 12px;}
.activity .center span{display: block;border: 1px solid #d2d2d2;border-radius: 3px;width: 23px;height: 23px;box-shadow: 1px 0 #ececec;text-align: center;line-height: 23px;color: #d32721;margin-right: 4px;}
.activity .center h3{color: #333333;font-weight: bold;padding-left: 158px;line-height: 22px;}
.activity .center  p{color: #999999;line-height: 16px;}

.activity ol{width: 301px;height: 34px;background:-webkit-linear-gradient(#f7f7f6, #ffffff);
	background:-moz-linear-gradient(#f7f7f6, #ffffff);
	background:-o-linear-gradient(#f7f7f6, #ffffff);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f6), to(#ffffff));
	background:linear-gradient(#f7f7f6, #ffffff);}
.activity ol li{width: 43px;height: 42px;line-height:34px;text-align: center;color: #333333;float: left;font-weight: bold;}

.activity .bottom{width: 308px;}
.activity .bottom li{width: 40px;height: 40px;float: left;background: #ededed;text-align: center;line-height: 40px;font-weight: bold;margin-right: 4px;margin-bottom: 2px;}
.activity .bottom .active1{background: url(../img/main/activityPic.gif) no-repeat;}
.activity .bottom .active2{background: url(../img/main/activityPic2.gif) no-repeat;position: relative;}
.activity .bottom .liGrey{background: #f8f8f8;}
.activity .bottom .hide{display: none;width: 289px;height: 86px;border: 1px solid #bfbfbf;position: absolute;padding: 10px 15px;background: #ffffff;left: 52px;top: -36px;z-index: 1;}
.activity .hide img{border: 2px solid #e1e1e1;float: left;margin-right: 5px;}
.activity .hide .hideDot{position: absolute;left: -8px;top: 46px;border: none;}
.activity .hide h2{font-size: 18px;color: #cccccc;font-weight: bold;float: left;}
.activity .hide span{color: #333333;font-weight: bold;display: block;float: left;padding-left: 12px;}
.activity .hide p{line-height: 18px;color: #999999;text-align: left;}
.hide .submit{position: absolute;right: 18px;bottom: 10px;border-radius: 50%;border: 1px solid #d33318;width: 22px;height: 22px;color: #ffffff;line-height: 20px;
background:-webkit-linear-gradient(#fd6f00, #c81b16);
background:-moz-linear-gradient(#fd6f00, #c81b16);
background:-o-linear-gradient(#fd6f00, #c81b16);
background:-webkit-gradient(linear, 0 0, 0 100%, from(#fd6f00), to(#c81b16));
background:linear-gradient(#fd6f00, #c81b16);}

/* recommend */

.recommend{padding: 12px 15px 4px;position: relative;margin-bottom: 10px;}
.recommend .top{width:318px ;height:58px;position: relative;background: url(../img/main/recommendBg.jpg) no-repeat 105px 0;}
.recommend .top em{position: absolute;font-family: arial;color: #ea2b31;top: 8px;left: 12px;font-weight: bold;}
.recommend .top h2{position: absolute;font-size: 20px;color: #333333;top: 24px;left: 12px;}

.recommend .center{width: 294px;height: 156px;border-radius: 6px;overflow: hidden;background: #f8f8f8;padding: 12px;margin-bottom: 18px;}
.recommend .left{width: 225px;height: 135px;}
.recommend .left img{width: 223px;height: 133px;border: 1px solid #ffffff;}
.recommend .right{}
.recommend .right li{width: 60px;height: 36px;margin-bottom: 13px;}
.recommend .right img{border: 3px solid #ffffff;width: 54px;height: 30px;}
.recommend .right .active{border: 3px solid #d6191d;}
.recommend .center p{clear: both;color: #000000;}

.recommend .bottom li{margin-bottom: 16px;padding-left: 40px;background: url(../img/main/recommend/list.jpg) no-repeat 11px 0;color: #999999;height: 12px;}
.recommend .bottom li:nth-child(odd){background-position: 11px -12px;}
.recommend .bottom li a{color: #454545;}
.recommend .bottom li a:hover{text-decoration: underline;}
.recommend .bottom li span{float: right;}

/* subway */
.subway{margin-bottom: 10px;}
.subway .top{}
.subway .top li{width: 128px;height: 34px;border: 1px solid #f3f3f3;border-radius: 6px 6px 0 0;margin-right: 2px;float: left;padding: 0 22px;line-height: 34px;position: relative;text-align: center;border-bottom: none;}
.subway .top .active{background: #FFFFFF;top: 1px;z-index: 2;}
.subway .top li h2{font-size: 14px;font-weight: bold;float: left;padding-right: 5px;color: #cc0d13;}
.subway .top li span{color: #2b2d2d;font-weight: bold;}
.subway .top li a{top: 13px;right: 12px;}

.subway .bottom{width: 348px;border: 1px solid #e5e5e5;border-radius:0 0 6px 6px;overflow: hidden;}
.subway .bottom img{border: none;width: 348px;height: 294px;}

/* BBS */

.bbs{padding-bottom: 12px;margin-bottom: 10px;}
.bbs .top{}
.bbs .top span{font-weight: bold;color: #010000;float: left;display: block;margin: 12px 0;}
.bbs .top h3{color: #cc0d13;font-weight: bold;float: left;padding-right: 5px;margin: 12px 0;}
.bbs .top a{margin: 12px 0;;display: block;float: right;display: block;width: 56px;height: 22px;background: url(../img/main/more.gif) no-repeat 40px 5px;font: 12px/22px "微软雅黑";color: #000000;}

.bbs .bottom{}
.bbs .bottom li{padding: 0 20px 0 10px;background: #f1f1f1;border-radius: 6px;border-bottom: 3px;height: 30px;line-height: 30px;margin-bottom: 3px;}
.bbs li em{font-weight: bold;color: #d80000;}
.bbs li strong{color: #333333;}
.bbs li span{float: right;color: #666666;}
.bbs .bottom .active{padding: 10px;background: #d90000;position: relative;color: #ffffff;height: 50px;font-weight: bold;border-radius: 6px;}
.bbs .active img{margin-right: 10px;float: left;width: 50px;height: 50px;}
.bbs .active span{float: left;color: #ffffff;}
.bbs .active a{display: block;font-size: 14px;line-height: 28px;color: #ffffff;}
.bbs .active a:hover{text-decoration: underline;}
.bbs .active em{position: absolute;bottom: -1px;right:5px;font-size: 28px;font-weight: bold;color: #ffffff;}


/* lifestyle */
.lifestyle{padding-bottom: 24px;margin-bottom: 10px;}
.lifestyle .center{margin-left: 10px;}
.lifestyle .dotBottom{top: 10px;right: 12px;}
.lifestyle .center li{height: 26px;width: 52px;position: relative;float: left;border: 1px solid #dadada;border-bottom: none;color: #666666;line-height: 26px;text-align: center;padding: 0 22px;border-radius:4px 4px 0 0;}
.lifestyle .center .active{font-weight: bold;background: #ffffff;top: 1px;}
.lifestyle .bottom{border-top: 1px solid #dadada;padding-bottom: 16px;}
.lifestyle dt{border-bottom: 1px dotted #cbcbca;height: 30px;padding-right: 12px;position: relative;}
.lifestyle dt span{position: absolute;left: 114px;top: 11px;}
.lifestyle dt em{position: absolute;top: 11px;right: 15px;}
.lifestyle dd{border-bottom: 1px dotted #cbcbca;height: 26px;line-height: 26px;padding-right: 18px;background: url(../img/main/dot.gif) no-repeat 5px 12px;padding-left: 14px;}
.lifestyle dd em{color: #c75d61;}
.lifestyle dd a{color: #454545;text-align: center;}
.lifestyle dd a:hover{text-decoration: underline;}
.lifestyle dd img{float: right;padding-top: 9px;}
.lifestyle form{position: relative;color: #595959;font-weight: bold;padding-left: 10px;}
.lifestyle .txt{width: 180px;height: 20px;border: 1px solid #9c9c9c;outline: none;}
.lifestyle .submit{position: absolute;right: 10px;bottom: 0px;border-radius: 50%;border: 1px solid #d33318;width: 22px;height: 22px;color: #ffffff;line-height: 20px;
background:-webkit-linear-gradient(#fd6f00, #c81b16);
background:-moz-linear-gradient(#fd6f00, #c81b16);
background:-o-linear-gradient(#fd6f00, #c81b16);
background:-webkit-gradient(linear, 0 0, 0 100%, from(#fd6f00), to(#c81b16));
background:linear-gradient(#fd6f00, #c81b16);
}


/* redhot */

.redhot{padding-bottom: 20px;margin-bottom: 10px;}
.redhot .bottom{}
.redhot .bottom .spec{background: #f40010;position: relative;}
.redhot .bottom .spec span{position: absolute;font-size: 16px;font-weight: bold;color: #ffffff;top: 10px;left: 10px;}
.redhot .bottom .spec em{position: absolute;top: 36px;left: 10px;color: #ffffff;width: 48px;}
.redhot .bottom .active{width: 156px;height: 78px;}
.redhot .bottom .active div{width: 156px;height: 78px;}
.redhot .bottom li{float: left;width: 78px;height: 78px;margin: 0 1px 1px 0;position: relative;}
.redhot .bottom li div{position: absolute;left: 0;top: 0;width: 78px;height: 78px;background: rgba(23,173,232,0.5);font-size: 20px;line-height: 78px;text-align: center;color: #ffffff;visibility: hidden;}

/* help */

.help{padding-bottom: 26px;}
.help p{color: #333333;line-height: 18px;text-indent: 24px;}
.help ul{height: 44px;border-bottom: 1px solid #ededee;line-height: 44px;}
.help ul li{background: url(../img/main/help.jpg) no-repeat;padding-left: 29px;float: left;width: 130px;}
.help ul .one{background-position: 6px 2px;color: #b80000;font-weight: bold;}
.help ul .two{background-position: 6px -42px;color: #333333;}
.help dl{width: 130px;padding-left: 9px;float: left;padding-top: 20px;}
.help dl dt{color: #292929;font-weight: bold;}
.help dl dd{line-height: 18px;text-indent: 13px;background: url(../img/main/dot.gif) no-repeat 5px 8px;}
.help dl a{color: #292929;}
.help dl a:hover{text-decoration: underline;}

/* media */
.media{padding-bottom: 10px;}
.media ul{padding-top: 16px;}
.media ul li{padding-left: 100px;background: url(../img/main/media.jpg) no-repeat;}
.media li:nth-child(1){height: 31px;margin-bottom: 13px;background-position: 0 0;line-height: 16px;}
.media li:nth-child(2){height: 31px;margin-bottom: 21px;background-position: 0 -44px;line-height: 16px;}
.media li:nth-child(3){height: 16px;margin-bottom: 17px;background-position: 0 -96px;line-height: 16px;}
.media li:nth-child(4){height: 29px;margin-bottom: 10px;background-position: 0 -129px;line-height: 20px;}
.media li a{color: #292929;}
.media li a:hover{text-decoration: underline;}


/* load */

#mainR .load{padding: 0;width: 240px;border-radius: 6px;overflow: hidden;padding-bottom: 3px;margin-bottom: 10px;}
.load .section{padding-left: 12px;}
.load form{width: 214px;margin: 15px 12px 0px;color: #595959;border-bottom: 1px solid #f2f2f2;padding-bottom: 10px;}
.load .txt1,.load .txt2{width: 87px;height: 17px;background: #f7f7f7;border: 1px solid #e5e5e5;margin-right: 7px;margin-bottom: 7px;}
.load .btn{width: 54px;height: 26px;background: #d70000;color: #FFFFFF;font-size: 12px;line-height: 23px;text-align: center;box-shadow: 3px 3px #c8c8c8;border-radius: 7px;border: none;}
.load p{width: 216px;margin: 0 11px;height: 30px;line-height: 30px;}
.load p a{display: block;color: #666666;float: left;width: 82px;padding-left: 26px;background: url(../img/main/dot.gif) no-repeat 18px 15px;}
.load p a:hover{text-decoration: underline;}

/* coupons */

.coupons{padding-bottom: 4px;margin-bottom: 10px;}
.coupons ul{margin: 0 4px;}
.coupons ul li{width: 65px;height: 23px;border: 1px solid #dadada;border-bottom: none;float: left;color: #666666;line-height: 23px;text-align: center;position: relative;border-radius: 2px 2px 0 0;}
.coupons ul .active{font-weight: bold;color: #333333;background: #FFFFFF;top: 1px;}
.coupons .dotBottom{top: 10px;right: 12px;}

.coupons dl{border-top: 1px solid #dadada;}
.coupons dt{color: #999999;height: 30px;position: relative;}
.coupons dt strong{position: absolute;top: 10px;left:46px ;}
.coupons dt span{position: absolute;top: 10px;left: 146px;}
.coupons dt em{position: absolute;top: 10px;left: 178px;}
.coupons dd{padding-left: 13px;background: url(../img/main/dot.gif) no-repeat 5px 11px;height: 27px;line-height: 27px;border-top: 1px dotted #cbcbca;padding-right: 16px;}
.coupons dd a{color: #333333;display: block;float: left;width: 130px;}
.coupons dd a:hover{text-decoration: underline;}
.coupons dd span{display: block;float: left;color: #d80000;}
.coupons dd em{display: block;float: right;color: #999999;}


/* shop */
.shop{padding-bottom: 10px;margin-bottom: 10px;}
.shop ul{}
.shop ul li{height: 83px;padding-top: 10px;border-bottom: 1px dotted #cbcbca;}
.shop li img{float: left;margin-right: 10px;padding: 2px;border: 1px solid #dadada}
.shop li a{line-height: 28px;color: #b80000;}
.shop li a:hover{text-decoration: underline;}
.shop li em{line-height: 18px;color: #999999;}
.shop li span{line-height: 18px;color: #666666;}


/* allshop */
.allshop{margin-bottom: 10px;}
.allshop img{}
.allshop .active{line-height: 28px;color: #333333;}
.allshop .active:hover{text-decoration: underline;}



/* discount */
.discount{padding-bottom: 2px;margin-bottom: 10px;}
.discount .shop{margin-bottom: 0px;padding-bottom: 0px;}
.discount .shop li{height: 83px;padding-top: 7px;}
.lastTwo .bottom{}
.lastTwo .bottom li{border-top: 1px dotted #cbcbca;height: 27px;line-height: 27px;padding-left: 17px;background:url(../img/main/dot.gif) no-repeat 7px 12px;color: #c3c3c3;}
.lastTwo .bottom em{color: #c75d61;}
.lastTwo .bottom a{color: #333333;}
.lastTwo .bottom a:hover{text-decoration: underline;}



/* league */
.league{}
.league .center{padding-bottom: 12px;}
.league .center li{width: 96px;}
.league .center img{padding: 2px;border: 1px solid #dadada;margin-bottom: 2px;}
.league .center a{color: #b80000;line-height: 24px;}
.league .center a:hover{text-decoration: underline;}
.league .center em{color: #999999;line-height: 16px;}
.league .center span{color: #666666;line-height: 16px;}

/* footer */
#footer{width:932px;height: 78px;background: #f9f9f9;margin:0 auto 30px;}
#footer ul{margin: 20px 0 10px 204px;}
#footer li{float: left;width: 50px;height: 12px;border-right: 1px solid #919191;padding:0 10px;line-height: 12px;}
#footer li a{color: #454545;}
#footer li a:hover{text-decoration: underline;}
#footer .active{border-right: none;}

#footer p{color: #767676;width: 450px;margin: 0 auto;}
